# Lending Club Case Study

## Objective

Identify driving factors behind loan default in order to reduce credit loss.

In [1]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#load the data 
inp0 = pd.read_csv('loan.csv',header=0,low_memory=False)
inp0.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

## 1.Data Understanding

The below steps are executed for **data understanding**:<br>
> 1. Finding number of rows & columns<br>
> 2. Determing which columns to drop based on :<br>
>> 2.1 whether the data in the columns pertains to those applications that have already been accepted<br>
>> 2.2 whether the data in the columns are unique text/descriptive values<br>
>> 2.3 whether the data in the columns are only single values<br>
>> 2.4 whether the data in the columns contain only NaN values<br>
>> 2.5 whether the data in the columns is very unique<br>
>> 2.6 whether the data contains only 1 unique value in each column<br>
>> 2.7 whether the data in the columns contain high percentage of Null & NaN values<br>
> 3. Determination of the columns that will act as driving factors to identify loans that may default<br>
> 4. Explanation of why these columns will play a role<br>
> 5. Remove the rows for which applications have already been approved.    
> 6. Identification of data quality issues such as removing spaces or removing special symbols like % or in general 
    standardizing the data for EDA.

**1. Finding number of rows & columns**

In [3]:
#number of rows & columns
inp0.shape

(39717, 111)

In [4]:
#list all columns 
list(inp0.columns)

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

**2. Determing which columns to drop based on :<br>
    2.1 whether the data in the columns pertains to those applications that have already been accepted**

**Action**

Below columns contain customer behavior variables which are valid only after loan is approved and therefore they cannot be used for prediction of whether the loan will be approved. Hence these columns are removed.

List of columns and their description : To-be-completed

In [5]:
inp0.drop(['delinq_2yrs','earliest_cr_line','inq_last_6mths','open_acc','pub_rec','revol_bal','revol_util','total_acc','out_prncp',
          'out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries',
          'collection_recovery_fee', 'last_pymnt_d','last_pymnt_amnt','last_credit_pull_d','application_type'], 
          axis=1, inplace=True)

In [6]:
inp0.shape

(39717, 90)

**2.2 whether the data in the columns are unique text/descriptive values**

**Action**

Below columns contain data that is not pertinent in determinating the factors that will predict the possibility of the loan 
being approved because of unique text values for each row as described in the data dictionary. Hence these columns are removed.

list of columsn & their description : to - be completed

In [7]:
inp0.drop(['emp_title','pymnt_plan','url','desc','title', 'zip_code'],axis=1, inplace=True)

In [8]:
inp0.shape

(39717, 84)

**2.3 whether the data in the columns are only single values**

**Action**

Remove columns containing 0 unique values which imply that there is only 1 value in that column. This is not useful for
analysis so these columns are removed. Further analysis is executed to check whether these columns contain NaN values.

In [9]:
col0=inp0.nunique()
col0

id                            39717
member_id                     39717
loan_amnt                       885
funded_amnt                    1041
funded_amnt_inv                8205
                              ...
tax_liens                         1
tot_hi_cred_lim                   0
total_bal_ex_mort                 0
total_bc_limit                    0
total_il_high_credit_limit        0
Length: 84, dtype: int64

In [10]:
#column index with no values
indices0 = [i for i in range(len(col0)) if col0[i] == 0]

In [11]:
# reading the column header for the indices determined to have no unique values
inp0.columns[indices0]

Index(['mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal',
       'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit'],
      dtype='object')

**2.4 whether the data in the columns contain only NaN values**

In [12]:
#checking if all the columns contain NaN
na_check = [inp0[i].isna().sum()  for i in inp0.columns[indices0]]
print(len(na_check))

54

In [13]:
#There are 54 rowss in na_check that contain the total number of NaNs in each column; now check whether all the rows in 
#these columns contain NaNs by comparing to total number of rows in data set which is 39717
count = sum(map(lambda x : x== 39717, na_check))
print(count)

54

**Action**

The number of NaN values in the indices list for each column is the same as the number of rows present in the dataset.
Therefore these columns only have NaN values and will be dropped as they do not add any value.

**2.5 whether the data in the columns is very unique**

In [14]:
def check_uniqueness(x):
    return [i for i in range(len(col0)) if col0[i] == x]

In [15]:
#unique values are unique for each row; empty indices for new operation
indices0.extend(check_uniqueness(39717))

**Action**<br>
Columns with unique values for every row are **id** and **member_id** which can be dropped.

**2.6 whether the data contains only 1 unique value in each column**

In [16]:
# unique values are 1 for each row
indices0.extend(check_uniqueness(1))

In [17]:
#confirming the number of columns present before dropping them
inp0.shape

(39717, 84)

In [18]:
#new shape of the dataset
inp0.drop(inp0.columns[indices0],axis=1, inplace=True)
inp0.shape

(39717, 21)

**2.7 whether the data in the columns contain high percentage of Null & NaN values**

In [19]:
round((inp0.isnull().sum()/len(inp0.index))*100,1)

loan_amnt                  0.0
funded_amnt                0.0
funded_amnt_inv            0.0
term                       0.0
int_rate                   0.0
installment                0.0
grade                      0.0
sub_grade                  0.0
emp_length                 2.7
home_ownership             0.0
annual_inc                 0.0
verification_status        0.0
issue_d                    0.0
loan_status                0.0
purpose                    0.0
addr_state                 0.0
dti                        0.0
mths_since_last_delinq    64.7
mths_since_last_record    93.0
next_pymnt_d              97.1
pub_rec_bankruptcies       1.8
dtype: float64

**Action**<br>
Remove columns with null value percentage greater than 60% since these data will have no affect on prediction. Decision to replace them will be taken in Data Cleaning & Manipulation.

In [20]:
inp0.drop(['mths_since_last_delinq','mths_since_last_record','next_pymnt_d'],axis=1, inplace=True)
inp0.shape

(39717, 18)

In [21]:
round((inp0.isna().sum()/len(inp0.index))*100,1)

loan_amnt               0.0
funded_amnt             0.0
funded_amnt_inv         0.0
term                    0.0
int_rate                0.0
installment             0.0
grade                   0.0
sub_grade               0.0
emp_length              2.7
home_ownership          0.0
annual_inc              0.0
verification_status     0.0
issue_d                 0.0
loan_status             0.0
purpose                 0.0
addr_state              0.0
dti                     0.0
pub_rec_bankruptcies    1.8
dtype: float64

**Action**<br>
NaN values present, however their percentage isn't high. Decision to replace them will be taken in Data Cleaning & Manipulation<br>
Outliers will be handled in Data Cleaning & Manipulation also.

**3. Determination of the columns that will act as driving factors to identify loans that may default**<br>
description needed<br>
1. loan_amt: <br>
2. funded_amnt<br>
3. funded_amnt_ivt<br>
4. term<br>
5. int_rate<br>
6. installment<br>
7. grade<br>
8. sub-grade<br>
9. emp_length<br>
10. home_ownership<br>
11. verification_status<br>
12. annual_inc<br>
13. issue_d<br>
14. loan_status<br>
15. purpose<br>
16. addr_state<br>
17. dti<br>

maybe can remove more columns like policy_code